.main-content-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 40px;
  width: 100%;

  @media (min-width: $md) {
    padding: 0;
    padding-bottom: 40px;
  }

  @media (min-width: $xl) {
    padding: 0 7px 120px;
    width: $md;
    flex-wrap: nowrap;
  }
}

.main-content-wrapper__filter {
  margin-bottom: 20px;

  @media (min-width: $xl) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}
